In [1]:
!pip install wget

Requirement already satisfied: wget in /Users/carlokroll/opt/anaconda3/lib/python3.8/site-packages (3.2)

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import io
import gzip
import time
import wget

In [4]:
from dask import dataframe as dd
import gzip
import time

##new

In [5]:
def vcf_parser(filename):
    with gzip.open(filename, "rt") as ifile, open("vcf.tsv", "w") as ofile:
        for line in ifile:
            if not line.strip().startswith("##"):
                ofile.write("\t".join(line.strip().split("\t")))
                ofile.write("\n")
                
start_time = time.time()
vcf_parser("ALL.chr22.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf 2.gz")
print("--- %s seconds ---" % (time.time() - start_time))

df = dd.read_csv("vcf.tsv", delimiter="\t")
df.head()

--- 145.9497721195221 seconds ---

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG00096,...,NA21128,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144
0,22,10516173,.,A,G,.,PASS,AC=121;AN=5096;DP=8203;AF=0.02;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,22,10522217,.,G,A,.,PASS,AC=89;AN=5096;DP=9085;AF=0.02;EAS_AF=0;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,22,10526445,.,A,G,.,PASS,AC=4948;AN=5096;DP=7978;AF=0.97;EAS_AF=0.98;EU...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
3,22,10527034,.,G,T,.,PASS,AC=271;AN=5096;DP=5974;AF=0.05;EAS_AF=0.01;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,0|0,0|0,0|0,0|0,0|0
4,22,10527038,.,C,G,.,PASS,AC=267;AN=5096;DP=5947;AF=0.05;EAS_AF=0.08;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [7]:
df.head(len(df))

/Users/carlokroll/opt/anaconda3/lib/python3.8/site-packages/dask/dataframe/core.py:6560: UserWarning: Insufficient elements for `head`. 1059079 elements requested, only 6204 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG00096,...,NA21128,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144
0,22,10516173,.,A,G,.,PASS,AC=121;AN=5096;DP=8203;AF=0.02;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,22,10522217,.,G,A,.,PASS,AC=89;AN=5096;DP=9085;AF=0.02;EAS_AF=0;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,22,10526445,.,A,G,.,PASS,AC=4948;AN=5096;DP=7978;AF=0.97;EAS_AF=0.98;EU...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
3,22,10527034,.,G,T,.,PASS,AC=271;AN=5096;DP=5974;AF=0.05;EAS_AF=0.01;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,0|0,0|0,0|0,0|0,0|0
4,22,10527038,.,C,G,.,PASS,AC=267;AN=5096;DP=5947;AF=0.05;EAS_AF=0.08;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6199,22,11624727,.,G,T,.,PASS,AC=47;AN=5096;DP=429298;AF=0.01;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6200,22,11624729,.,C,A,.,PASS,AC=14;AN=5096;DP=429250;AF=0;EAS_AF=0;EUR_AF=0...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6201,22,11624753,.,G,A,.,PASS,AC=1;AN=5096;DP=419324;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6202,22,11624765,.,A,G,.,PASS,AC=1;AN=5096;DP=401290;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6203,22,11624769,.,G,T,.,PASS,AC=7;AN=5096;DP=393749;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0